/***************************************************************************
 *
 *   main.css:  css code for main.pug on online.interlisp.org web portal.
 *
 *   2022-03-08 Frank Halasz
 *
 *
 *   Copyright: 2021-2022 by Interlisp.org
 *
 *
 **************************************************************************/

#page-container {
  visibility: "hidden";
}

#logged-in-as {
  font-size: 15px;
  font-style: italic;
  padding-bottom: 1em;
}

#run-button {
  font-size: 24px;
  line-height: 1.6;
  padding: 1rem 0rem;
}

#run-options {
  max-width: 350px;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.25em;
  padding-bottom: 0.5em;
}

#ro-table {
  width:350px;
  border-spacing:0.125em;
}

#ro-col1, #ro-col3 {
  width:50px;
}

#ro-col2 {
  width:250px;
}

#wh-cell {
  text-align:center;
}

#fill-windows-label {
  text-align:center;
}

#screen-width, #screen-height {
  width: 3.5em;
}

.checkbox-input {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

#dev-div-checkbox {
    font-size: 18px;
    padding-bottom: 0em;
}

#dev-div-controls {
  width:350px;
  margin-right: auto;
  margin-left: auto;
  border-style: double;
  border-width: 5px;
  border-color: #C0C0C0;
  padding: 1em;
}

#dev-div-buttons {
  font-size: 16px;
  line-height: 1.33;
}

.dev-div-button {
  margin-top: 0.75em;  
}

.dev-div-run-option {
  width:200px;
}

tr:disabled {
  color:#E0E0E0;
}

.button-div {
  display: flex;
  justify-content: space-between;
  margin-left: 2em;
  margin-right: 2em;
}

.button-div button {
  width: 100px;
}

.number-input {
    font-size: 16px;
    width: 4em;
}

.run-option {
  width:250px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 16px;
  display: inline-block;
}

#logout-a {
  margin-left: 1.5em;
  cursor: default;
}

#logout-a :hover {
  background-color: #eaeef1;;
}

#logout-a :active {
  background-color: #eaeef1;;
  color: #337ab7;
}
