//-
    /***************************************************************************
     *
     *   help_dialogs.pug: help dialogs for online.interlisp.org web portal.
     *                     Meant to be included in other pug files.
     *
     *
     *   2022-02-08 Frank Halasz
     *
     *
     *   Copyright: 2022 by Interlisp.org
     *
     *
     **************************************************************************/

link(rel="stylesheet", href="/stylesheets/help_dialogs.css")


script.
    function helpOnClick(which) {
        document.getElementById(`help-dialog-${which}`).showModal();
    }

    function helpDialogClose (which) {
        document.getElementById("help-dialog-" + which).close();
    }

dialog(id="help-dialog-guest").help-dialog
    h2  Help
    p.
        Guest login will give you full access to the Interlisp environment for a
        single session.  No data or files are saved between guest login sessions.
    p.
        If you wish to save your Interlisp session or to save files across sessions,
        you must register and login using your email address.
    .single-button-div
        button(type="button" onclick='helpDialogClose("guest");').main-button OK

dialog(id="help-dialog-resume").help-dialog
    h2  Help
    p.
        Ordinarily, "Start Interlisp" will start up Interlisp using the standard full.sysout from the latest Medley release.
    p.
        Checking this option will cause "Start Interlisp" to instead restart your latest session using the retained
        lisp.virtualmem.
    p.
        If there is no retained lisp.virtualmem, startup will be from full.sysout.
    .single-button-div
        button(type="button" onclick='helpDialogClose("resume");').main-button OK

dialog(id="help-dialog-custom").help-dialog
    h2  Help
    p.
        Ordinarily, "Start Interlisp" will start up Interlisp using the standard full.sysout from the latest Medley release.
    p.
        Checking this option will cause "Start Interlisp" to instead start up using the custom sysout stored at ~/il/sysout/online.sysout
        in your online.interlisp.org home directory.
    p.
        You can create this sysout using the online Interlisp environment or you
        can upload (and rename) any Medley sysout using the sftp feature.
    p.
        If ~/il/sysout/online.sysout does not exist, the standard full.sysout will be used instead.
    .single-button-div
        button(type="button" onclick='helpDialogClose("custom");').main-button OK

dialog(id="help-dialog-run_notecards").help-dialog
    h2  Help
    p.
        If this option is checked, the Notecards app will be loaded and started up when Interlisp is started.
    p.
        If this is the first time Notecards has been run, demo notefiles will be placed in your home directory at
        ~/il/notefiles.
    p.
        This option is disabled if "Resume previous session" is checked.
    .single-button-div
        button(type="button" onclick='helpDialogClose("run_notecards");').main-button OK

dialog(id="help-dialog-run_rooms").help-dialog
    h2  Help
    p.
        If this option is checked, the Rooms app will be loaded and started up when Interlisp is started.
    p.
        This option is disabled if "Resume previous session" is checked.
    .single-button-div
        button(type="button" onclick='helpDialogClose("run_rooms");').main-button OK

dialog(id="help-dialog-sftp").help-dialog
    h2  Help
    p.
        Checking this option will cause "Start Interlisp" and "Start Terminal Session" to also start up an SFTP server on online.interlisp.org.
        This SFTP server can be used to upload or download files to/from your online.interlisp.org home directory using any standard SFTP client
        (e.g., FileZilla).
    p.
        The port#, username and password for accessing the SFTP server are given in the WHO-LINE window in the Interlisp 
        environment or at the top of the terminal window in the Terminal Session environment.
    .single-button-div
        button(type="button" onclick='helpDialogClose("sftp");').main-button OK

dialog(id="help-dialog-custom-init").help-dialog
    h2  Help
    p.
        Ordinarily, "Start Interlisp" will start up Interlisp using the standard ONLINE-INIT from the latest Medley release.
    p.
        Checking this option will cause "Start Interlisp" to instead start up using the custom sysout stored at ~/il/initdir/ONLINE-INIT or 
        ~/il/initdir/ONLINE-INIT.LCOM in your online.interlisp.org home directory.
    p.
        You can create this custom init file using the online Interlisp environment or you
        can upload any Medley sysout using the File Manager feature.
    p.
        If ~/il/init/ONLINE-INIT(.LCOM) does not exist, the standard ONLINE-INIT will be used instead.
    .single-button-div
        button(type="button" onclick='helpDialogClose("custom-init");').main-button OK

dialog(id="help-dialog-which-exec").help-dialog
    h2  Help
    p.
        Medley supports both Interlisp and Common Lisp.  The system starts up with a single Exec window running a
        read-eval-print loop (REPL) for executing Lisp.  This Exec window can be either Interlisp- or Common Lisp-based. 
    p.
        This option selects whether the initial Exec window is Interlisp- or Common Lisp-based.
    p.
        Additional Exec windows based on either Interlisp or Common Lisp can be started at any time from the background menu.
    .single-button-div
        button(type="button" onclick='helpDialogClose("which-exec");').main-button OK
dialog(id="help-dialog-start-script").help-dialog
    h2  Help
    p.
        A start-script if a Medley Lisp file that will be LOADed at the end of the ONLINE-INIT script while Online
        Medley is starting up.  It can be used to fetch other files from the Internet and/or to run code that will
        set-up the Medley environment or start a specific Medley application.  This is generally used for automatings
        demos.  Example start-scripts can be found at https://github.com/interlisp/online/start-scripts. 
    p.
        In this field enter a URL that points to a Medley Lisp file that can be downloaded from the Internet with
        wget.  This file will be downloaded amd LOADed at the end of ONLINE-INIT.

