div#combined-msg-div
    p.combined-header.
        Please Note
    p.
        The registration system for <em>online.interlisp.org<em> and <em>notecards.online<em> are combined.
    p.
        An account created on either site will work for both sites.

