div#combined-msg-div
    p.
        Please Note:
    p.
        The registration system for <em>online.interlisp.org<em> and <em>notecards.online<em> are combined.
    p.
        An account created on either site will work for both sites.  
    p.
        In addition, the two sites use the same file storage that comes with each user account.
