//-
    /***************************************************************************
     * 
     *   error.pug:  error page for online.interlisp.org web portal. 
     * 
     *   2021-11-22 Frank Halasz
     * 
     * 
     *   Copyright: 2021-2022 by Interlisp.org 
     * 
     *
     **************************************************************************/

extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}
