//-
    /***************************************************************************
     *
     *   help_dialogs.pug: help dialogs for online.interlisp.org web portal.
     *                     Meant to be included in other pug files.
     *
     *
     *   2022-02-08 Frank Halasz
     *
     *
     *   Copyright: 2022 by Interlisp.org
     *
     *
     **************************************************************************/

script.
    function helpOnClick(which) {
        document.getElementById(`help-dialog-${which}`).showModal();
    }

    function helpDialogClose (which) {
        document.getElementById("help-dialog-" + which).close();
    }

dialog(id="help-dialog-guest").help-dialog
    h2  Help
    p.
        Guest login will give you full access to the Interlisp environment for a
        single session.  No data or files are saved between guest login sessions.
    p.
        If you wish to save your Interlisp session or to save files across sessions,
        you must register and login using your email address.
    .single-button-div
        button(type="button" onclick='helpDialogClose("guest");').main-button OK

dialog(id="help-dialog-resume").help-dialog
    h2  Help
    p.
        Ordinarily, "Start Interlisp" will start up Interlisp using the standard full.sysout from the latest Medley release.
    p.
        Checking this option will cause "Start Interlisp" to instead restart your latest session using the retained
        lisp.virtualmem.
    p.
        If there is no retained lisp.virtualmem, startup will be from full.sysout.
    .single-button-div
        button(type="button" onclick='helpDialogClose("resume");').main-button OK

dialog(id="help-dialog-custom").help-dialog
    h2  Help
    p.
        Ordinarily, "Start Interlisp" will start up Interlisp using the standard full.sysout from the latest Medley release.
    p.
        Checking this option will cause "Start Interlisp" to instead start up using the custom sysout stored at ~/il/sysout/online.sysout
        in your online.interlisp.org home directory.
    p.
        You can create this sysout using the online Interlisp environment or you
        can upload (and rename) any Medley sysout using the sftp feature.
    p.
        If ~/il/sysout/online.sysout does not exist, the standard full.sysout will be used instead.
    .single-button-div
        button(type="button" onclick='helpDialogClose("custom");').main-button OK

dialog(id="help-dialog-run_notecards").help-dialog
    h2  Help
    p.
        If this option is checked, the Notecards app will be loaded and started up when Interlisp is started.
    p.
        If this is the first time Notecards has been run, demo notefiles will be placed in your home directory at
        ~/il/notefiles.
    p.
        This option is disabled if "Resume previous session" is checked.
    .single-button-div
        button(type="button" onclick='helpDialogClose("run_notecards");').main-button OK

dialog(id="help-dialog-sftp").help-dialog
    h2  Help
    p.
        Checking this option will cause "Start Interlisp" and "Start Terminal Session" to also start up an SFTP server on online.interlisp.org.
        This SFTP server can be used to upload or download files to/from your online.interlisp.org home directory using any standard SFTP client
        (e.g., FileZilla).
    p.
        The port#, username and password for accessing the SFTP server are given in the WHO-LINE window in the Interlisp 
        environment or at the top of the terminal window in the Terminal Session environment.
    .single-button-div
        button(type="button" onclick='helpDialogClose("sftp");').main-button OK

dialog(id="help-dialog-custom-init").help-dialog
    h2  Help
    p.
        Ordinarily, "Start Interlisp" will start up Interlisp using the standard ONLINE-INIT from the latest Medley release.
    p.
        Checking this option will cause "Start Interlisp" to instead start up using the custom sysout stored at ~/il/initdir/ONLINE-INIT or 
        ~/il/initdir/ONLINE-INIT.LCOM in your online.interlisp.org home directory.
    p.
        You can create this custom init file using the online Interlisp environment or you
        can upload any Medley sysout using the File Manager feature.
    p.
        If ~/il/init/ONLINE-INIT(.LCOM) does not exist, the standard ONLINE-INIT will be used instead.
    .single-button-div
        button(type="button" onclick='helpDialogClose("custom-init");').main-button OK
