extends layout

block variables
    - var title = "Interlisp Online"

block headeradds


block content

    div#page-title Update Registration Information
    
    p#reregister-msg.
        Online.Interlisp.Org now requires a bit more information from you in order to better customize the Interlisp environment.  Please fill in the following information before continuing. 

    div#error-message &nbsp;

    form(action="/user/reregister", method="post")
        .field.secondary-field
            label.secondary-label Username:
            input#uname.secondary-input(type="text" name="uname" minlength="3" maxlength="8" required)
            p.input-explain  3-8 alphanumeric characters
        .field.secondary-field
            label.secondary-label First Name:
            input#firstname.secondary-input(type="text" name="firstname" minlength="1" maxlength="16" required)
            p.input-explain  Maximum length 16 characters
        .field.secondary-field
            label.secondary-label Last Name:
            input#lastname.secondary-input(type="text" name="lastname" minlength="1" maxlength="16" required)
            p.input-explain  Maximum length 16 characters
        .field.secondary-field
            label.secondary-label Initials:
            input#initials.secondary-input(type="text" name="initials" minlength="2" maxlength="6" required)
            p.input-explain  2-6 alphanumeric characters
        .field.primary-field
            input.submit-btn.main-button(type="submit" value="Update Registration" required)

    script.
        const urlParams = new URLSearchParams(window.location.search);
        const info = urlParams.get('info');
    
        if(info) {
          const errorMessage = document.getElementById("error-message");
          errorMessage.innerText = info;
          //errorMessage.style.display = "block";
        }

