/***************************************************************************
 *
 *   style.css:  Main css code for online.interlisp.org web portal.
 *
 *   2021-11-22 Frank Halasz
 *
 *
 *   Copyright: 2021-2022 by Interlisp.org
 *
 *
 **************************************************************************/

html {
  font: 100%/1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-image: linear-gradient(#c5c7cb,  #f8f9fa);
  /*background-image: url("/images/Interlisp-Background.png");*/
  min-height: 100%;
  text-align: center;
}

body {
  font: 14px 'Lato', Helvetica, Arial, sans-serif;
  margin: 0px;
}

footer {
  border-top: 1px solid rgba(0,0,0,.1);
  margin-top: 4em !important;
  padding-top: 1em;
  text-align: center;
}

h2 {
  margin-bottom: 1em;
  margin-top: 2em;
  font-size: 24px;
  color: #337ab7;
}

.container {
    width: 100%;
    padding-top: 2em;
    margin-right: auto;
    margin-left: auto;
}

.row {
   width: 100%;
}

.text-center {
   text-align: center!important;
   margin-left: auto;
   margin-right: auto;
}

.waittime {
    color: red;
}

.jumbotron {
    padding: 1rem 1rem;
    margin-bottom: 0.25rem;
    border-radius: .3rem;
    font-size: 24px;
    line-height: 1.6;
}

.main-button {
        font-size: .825em;
        text-decoration: none;
        font-weight: 700;
        padding: .35em 1em;
        background-color: #eaeef1;
        background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1));
        border-radius: 3px;
        color: rgba(0,0,0,.6);
        text-shadow: 0 1px 1px rgba(255,255,255,.7);
        box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);
}

.main-button:hover, .main-button.hover {
        background-color: #fff;
}

.main-button:active, .main-button.active {
        background-color: #d0d3d6;
        background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,0));
        box-shadow: inset 0 0 2px rgba(0,0,0,.2), inset 0 2px 5px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.2);
}

#page-container {
  position: relative;
  min-height: calc(100vh - 1.5rem);
}

#content-wrap {
  padding-bottom: 1.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.5rem;            /* Footer height */
  font-size: 12px;
}

#logged-in-as {
  font-size: 15px;
  font-style: italic;
  padding-bottom: 1em;
}

#page-header {
  margin: 0em auto 1em auto;
  font-size: 24px;
  color: #337ab7;
  text-align: center;
}

#sponsor-button {
        font-size: .6em;
        text-decoration: none;
        font-weight: 700;
        padding: .35em 1em;
        background-color: #eaeef1;
        background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1));
        border-radius: 10px;
        color: rgba(10,60,200,.6);
        border-color: rgba(20,125,200,.6);
        text-shadow: 0 1px 1px rgba(255,255,255,.7);
        box-shadow: 0 0 0 1px rgba(20,125,200,.2), 0 1px 2px rgba(20,125,200,.2), inset 0 1px 2px rgba(255,255,255,.7);
        margin-bottom: 1em;
}

.field.primary-field {
  font-size: 20px;
  margin-top: .25em;
}

.field.secondary-field {
  font-size: 16px;
  margin-top: .25em;
}

.field .primary-label {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-right: 15px;
}

.field .secondary-label {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-right: 15px;
}

.field .submit-btn {
  margin-top: 1.5em;
}

.primary-input {
  font-size: 20px;
  width:300px;
}

.secondary-input {
  font-size: 20px;
  width:300px;
}

#new-user {
  margin-top: 24px;
  font-size: 20px;
}

#page-title {
  margin-bottom: 0em;
  margin-top: 1em;
  font-size: 30px;
  /*color: #337ab7;*/
  color: #000;
}

#error-message {
  color: #ff0000;
  font-size: 20px;
  text-align: center;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

#reconnect-dialog, #alert-dialog, #disclaimer-dialog, .vdialog {
  font-size:16px;
  padding: 2em 1em 2em 1em;
  max-width: 600px;
}

.button-div {
  display: flex;
  justify-content: space-between;
  margin-left: 2em;
  margin-right: 2em;
}

.button-div button,  .single-button-div button {
  width: 100px;
}

.input-explain {
  margin-top:0;
  font-size: 12px;
  font-style: italic;
}

#reregister-msg {
  font-size: 16px;
  width: 450px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2em;
  line-height: 150%;
}

#disclaimer-dialog .single-button-div, .vdialog .single-button-div {
  margin-top: 1.5em;
}

#disclaimer-dialog .checkbox-div {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

#disclaimer-dialog h2, .vdialog h2 {
  margin-top: 0em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.75em;
}

.options-div label, #dev-div-checkbox {
    font-size: 16px;
    display: block;
}

.number-input {
    font-size: 16px;
    width: 4em;
}

.checkbox-input {
    font-size: 16px;
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

.options-div {
    margin-top: 15px;
}

#dev-div-buttons {
    width:auto;
    margin-right: auto;
    margin-left: auto;
    border-style: double;
    border-width: 5px;
    border-color: #C0C0C0;
}

#dev-div-checkbox .jumbotron {
    padding-bottom: 0em;
}

#dev-div-buttons .jumbotron {
    padding-bottom: 0.25em;
    padding-top: 0.25em;
    display:inline-block;
}

h2 {
    margin-bottom: 0em;
    font-size: 30px;
}

#dev-options-div {
    font-size: 20px;
    width:auto;
}


.run-options-div {
  max-width: 350px;
  border-width: 2px;
  border-radius: 15px;
  border-color: #2F2F2F;
  border-style: solid;
  margin-top: .66em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.25em;
  padding-bottom: 0.5em;
  font-size: 16px;
}


.run-option {
  width:250px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  display: inline-block;
}

.in-circle {
    display: inline-block;
    background: #000;
    color: #fff;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 14px;
    font-family: Verdana;
    cursor: help;
}

.help-dialog {
  max-width: 500px;
}

.help-dialog h2 {
   margin-top: .5em;
   margin-bottom: 0.25em;
}

.help-dialog .single-button-div {
   margin-top: 1.5em;
}

.help-dialog p {
  padding-left: 2em;
  padding-right: 2em;
  text-align: justify;
  line-height: 1.5;
}

#guest_button {
    display: inline-block;
}

#combined-msg-div {
  max-width: 450px;
  padding: 1em;
  font-size: 14px;
  border-width: 1px;
  border-color: red;
  border-style: solid;
  border-radius: 20px;
  text-align: justify;
}